Galapagos (Ecuador) trimmed census data from 2015.

In [2]:
import redatam

glp = redatam.read_redatam("galapagos/cg15.dic")

glp.keys()

Opening dictionary file...
Exporting CG15...
Exporting PROVIN...
Exporting CANTON...
Exporting PARROQ...
Exporting ZONA...
Fixing encoding...
Tidying variables...

dict_keys(['CANTON', 'CANTON_LABELS_NOMCANT', 'PARROQ', 'PARROQ_LABELS_NOMPARR', 'PROVIN', 'PROVIN_LABELS_NOMPROV', 'ZONA'])

In [3]:
glp2 = redatam.read_redatam("galapagos/cg15.dicX")

glp2.keys()

Opening dictionary file...
Exporting CG15...
Exporting PROVIN...
Exporting CANTON...
Exporting PARROQ...
Exporting ZONA...
Fixing encoding...
Tidying variables...

dict_keys(['CANTON', 'CANTON_LABELS_NOMCANT', 'PARROQ', 'PARROQ_LABELS_NOMPARR', 'PROVIN', 'PROVIN_LABELS_NOMPROV', 'ZONA'])

In [5]:
glp["PROVIN"]

   PROVIN_REF_ID  CG15_REF_ID I01    NOMPROV
0              1            1  20  GALAPAGOS

In [6]:
glp2["PROVIN"]

   PROVIN_REF_ID  CG15_REF_ID I01    NOMPROV
0              1            1  20  GALAPAGOS

Uruguay census data from 2011.

In [8]:
uru = redatam.read_redatam("uru2011/CPV2011_uruguay_publica.dicX")

uru.keys()

Opening dictionary file...
Exporting CPV2011...
Exporting DEPTO...
Exporting SECCION...
Exporting SEGMENTO...
Exporting VIVIENDA...
Exporting HOGAR...
Exporting PERSONA...
Fixing encoding...
Tidying variables...

dict_keys(['DEPTO', 'DEPTO_LABELS_DEPTO', 'DEPTO_LABELS_IDDEPTO', 'DEPTO_LABELS_NDEPTO', 'DEPTO_LABELS_REDCODEN', 'HOGAR', 'HOGAR_LABELS_CA01', 'HOGAR_LABELS_CE01', 'HOGAR_LABELS_CE02', 'HOGAR_LABELS_CE03', 'HOGAR_LABELS_CE04', 'HOGAR_LABELS_CE05', 'HOGAR_LABELS_CE06', 'HOGAR_LABELS_CE07', 'HOGAR_LABELS_CE08', 'HOGAR_LABELS_CE09', 'HOGAR_LABELS_CE10', 'HOGAR_LABELS_CE11', 'HOGAR_LABELS_CE12', 'HOGAR_LABELS_CE13', 'HOGAR_LABELS_HD00', 'HOGAR_LABELS_HD01', 'HOGAR_LABELS_HOGID', 'HOGAR_LABELS_MAH', 'HOGAR_LABELS_NBIAGUA', 'HOGAR_LABELS_NBICALE', 'HOGAR_LABELS_NBICALF', 'HOGAR_LABELS_NBICAN', 'HOGAR_LABELS_NBICOC', 'HOGAR_LABELS_NBICONF', 'HOGAR_LABELS_NBIEDU', 'HOGAR_LABELS_NBIELC', 'HOGAR_LABELS_NBIHAC', 'HOGAR_LABELS_NBIMAT', 'HOGAR_LABELS_NBIREF', 'HOGAR_LABELS_NBISAN', 'HOGAR_LABELS_NBIVIV', 'HOGAR_LABELS_PR01', 'HOGAR_LABELS_PR02', 'HOGAR_LABELS_SC01', 'HOGAR_LABELS_SC02', 'HOGAR_LABELS_SH01', 'HOGAR_LABELS_SH02', 'HOGAR_LABELS_SH03', 'HOGAR_LABELS_TE01', 'HOGAR_LABELS_TE02', 'HOGAR_LABELS_TE03', 'HOGAR_LABELS_TENEN', 'HOGAR_LABELS_TIPHOG', 'PERSONA', 'PERSONA_LABELS_AESTUDIO', 'PERSONA_LABELS_AL01', 'PERSONA_LABELS_AL02', 'PERSONA_LABELS_AL03', 'PERSONA_LABELS_AL04', 'PERSONA_LABELS_AL05', 'PERSONA_LABELS_AL08', 'PERSONA_LABELS_AL09', 'PERSONA_LABELS_AL091', 'PERSONA_LABELS_AL092', 'PERSONA_LABELS_AL093', 'PERSONA_LABELS_AL10', 'PERSONA_LABELS_AL11', 'PERSONA_LABELS_AL12', 'PERSONA_LABELS_ASISTEDU', 'PERSONA_LABELS_CCAR', 'PERSONA_LABELS_CODACT2', 'PERSONA_LABELS_CODOCUP2', 'PERSONA_LABELS_DI01', 'PERSONA_LABELS_DI02', 'PERSONA_LABELS_DI04', 'PERSONA_LABELS_DI05', 'PERSONA_LABELS_DPTOANT', 'PERSONA_LABELS_DPTONAC', 'PERSONA_LABELS_DPTOSET06', 'PERSONA_LABELS_EC01', 'PERSONA_LABELS_EC02', 'PERSONA_LABELS_EC03', 'PERSONA_LABELS_EC04', 'PERSONA_LABELS_ED00', 'PERSONA_LABELS_ED01', 'PERSONA_LABELS_ED02', 'PERSONA_LABELS_ED021', 'PERSONA_LABELS_ED022', 'PERSONA_LABELS_ED023', 'PERSONA_LABELS_ED024', 'PERSONA_LABELS_ED031', 'PERSONA_LABELS_ED032', 'PERSONA_LABELS_ED03R', 'PERSONA_LABELS_ED04R', 'PERSONA_LABELS_ED05R', 'PERSONA_LABELS_ED06R', 'PERSONA_LABELS_ED08', 'PERSONA_LABELS_ER011', 'PERSONA_LABELS_ER012', 'PERSONA_LABELS_ER013', 'PERSONA_LABELS_ER014', 'PERSONA_LABELS_ER015', 'PERSONA_LABELS_ER02', 'PERSONA_LABELS_FM01', 'PERSONA_LABELS_FM011', 'PERSONA_LABELS_FM01R', 'PERSONA_LABELS_FM01R_RDT', 'PERSONA_LABELS_FM01_RDT', 'PERSONA_LABELS_FM02', 'PERSONA_LABELS_FM021', 'PERSONA_LABELS_FM02R', 'PERSONA_LABELS_FM02R_RDT', 'PERSONA_LABELS_FM041', 'PERSONA_LABELS_FM041_RDT', 'PERSONA_LABELS_FM042', 'PERSONA_LABELS_FM042_RDT', 'PERSONA_LABELS_FM05', 'PERSONA_LABELS_LOCANT', 'PERSONA_LABELS_LOCNAC', 'PERSONA_LABELS_LOCSET06', 'PERSONA_LABELS_MAP', 'PERSONA_LABELS_MI01', 'PERSONA_LABELS_MI011', 'PERSONA_LABELS_MI012', 'PERSONA_LABELS_MI013', 'PERSONA_LABELS_MI014', 'PERSONA_LABELS_MI02', 'PERSONA_LABELS_MI021', 'PERSONA_LABELS_MI05', 'PERSONA_LABELS_MI051', 'PERSONA_LABELS_MI06', 'PERSONA_LABELS_MI061', 'PERSONA_LABELS_MI062', 'PERSONA_LABELS_MI063', 'PERSONA_LABELS_MI064', 'PERSONA_LABELS_MI07', 'PERSONA_LABELS_MI071', 'PERSONA_LABELS_MI072', 'PERSONA_LABELS_MI073', 'PERSONA_LABELS_MI074', 'PERSONA_LABELS_NA01', 'PERSONA_LABELS_NIVELEDUR', 'PERSONA_LABELS_PA01', 'PERSONA_LABELS_PA02', 'PERSONA_LABELS_PA03', 'PERSONA_LABELS_PAISANT', 'PERSONA_LABELS_PAISNAC', 'PERSONA_LABELS_PAISSET06', 'PERSONA_LABELS_PERID', 'PERSONA_LABELS_PH02', 'PERSONA_LABELS_POBCOAC', 'SECCION', 'SECCION_LABELS_SECCION', 'SEGMENTO', 'SEGMENTO_LABELS_REDCODEN', 'SEGMENTO_LABELS_SEGMENTO', 'VIVIENDA', 'VIVIENDA_LABELS_CATEVIV', 'VIVIENDA_LABELS_CBAR', 'VIVIENDA_LABELS_CCZ', 'VIVIENDA_LABELS_DV01', 'VIVIENDA_LABELS_DV02', 'VIVIENDA_LABELS_DV03', 'VIVIENDA_LABELS_DV05', 'VIVIENDA_LABELS_DV06', 'VIVIENDA_LABELS_DV07', 'VIVIENDA_LABELS_HV01', 'VIVIENDA_LABELS_HV011', 'VIVIENDA_LABELS_LOC', 'VIVIENDA_LABELS_NBAR', 'VIVIENDA_LABELS_PLANILLA', 'VIVIENDA_LABELS_SP2010', 'VIVIENDA_LABELS_TIPOVIV', 'VIVIENDA_LABELS_TOTAMP', 'VIVIENDA_LABELS_URBRUR', 'VIVIENDA_LABELS_VIVID', 'VIVIENDA_LABELS_VO01', 'VIVIENDA_LABELS_VO03', 'VIVIENDA_LABELS_VO04'])

In [9]:
uru["DEPTO"]

    DEPTO_REF_ID  CPV2011_REF_ID IDDEPTO  DEPTO          NDEPTO  REDCODEN
0              1               1      01      1      Montevideo         1
1              2               1      02      2         Artigas         2
2              3               1      03      3       Canelones         3
3              4               1      04      4     Cerro Largo         4
4              5               1      05      5         Colonia         5
5              6               1      06      6         Durazno         6
6              7               1      07      7          Flores         7
7              8               1      08      8         Florida         8
8              9               1      09      9       Lavalleja         9
9             10               1      10     10       Maldonado        10
10            11               1      11     11        Paysand?        11
11            12               1      12     12       Rio Negro        12
12            13               1      13     13          Rivera        13
13            14               1      14     14           Rocha        14
14            15               1      15     15           Salto        15
15            16               1      16     16        San Jos?        16
16            17               1      17     17         Soriano        17
17            18               1      18     18      Tacuaremb?        18
18            19               1      19     19  Treinta y Tres        19

Chile census data from 2017.

In [11]:
chl = redatam.read_redatam("chl2017/CPV2017-16.dic")

chl.keys()

Opening dictionary file...
Exporting CENSO...
Exporting REGION...
Exporting PROVINCI...
Exporting COMUNA...
Exporting DISTRITO...
Exporting AREA...
Exporting ZONALOC...
Exporting VIVIENDA...
Exporting HOGAR...
Exporting PERSONA...
Fixing encoding...
Tidying variables...

dict_keys(['AREA', 'AREA_LABELS_AREA', 'AREA_LABELS_IDAREA', 'CENSO', 'COMUNA', 'COMUNA_LABELS_REDCODEN', 'DISTRITO', 'HOGAR', 'HOGAR_LABELS_NHOGAR', 'HOGAR_LABELS_TIPO_HOGAR', 'PERSONA', 'PERSONA_LABELS_ESCOLARIDAD', 'PERSONA_LABELS_P07', 'PERSONA_LABELS_P08', 'PERSONA_LABELS_P09', 'PERSONA_LABELS_P10', 'PERSONA_LABELS_P10COMUNA', 'PERSONA_LABELS_P10PAIS', 'PERSONA_LABELS_P10PAIS_GRUPO', 'PERSONA_LABELS_P11', 'PERSONA_LABELS_P11COMUNA', 'PERSONA_LABELS_P11PAIS', 'PERSONA_LABELS_P11PAIS_GRUPO', 'PERSONA_LABELS_P12', 'PERSONA_LABELS_P12A_LLEGADA', 'PERSONA_LABELS_P12A_TRAMO', 'PERSONA_LABELS_P12COMUNA', 'PERSONA_LABELS_P12PAIS', 'PERSONA_LABELS_P12PAIS_GRUPO', 'PERSONA_LABELS_P13', 'PERSONA_LABELS_P14', 'PERSONA_LABELS_P15', 'PERSONA_LABELS_P15A', 'PERSONA_LABELS_P16', 'PERSONA_LABELS_P16A', 'PERSONA_LABELS_P16A_GRUPO', 'PERSONA_LABELS_P16A_OTRO', 'PERSONA_LABELS_P17', 'PERSONA_LABELS_P18', 'PERSONA_LABELS_P19', 'PERSONA_LABELS_P20', 'PERSONA_LABELS_P21A', 'PERSONA_LABELS_P21M', 'PERSONA_LABELS_PERSONAN', 'PROVINCI', 'PROVINCI_LABELS_REDCODEN', 'REGION', 'REGION_LABELS_REDCODEN', 'VIVIENDA', 'VIVIENDA_LABELS_CANT_HOG', 'VIVIENDA_LABELS_CANT_PER', 'VIVIENDA_LABELS_NVIV', 'VIVIENDA_LABELS_P01', 'VIVIENDA_LABELS_P02', 'VIVIENDA_LABELS_P03A', 'VIVIENDA_LABELS_P03B', 'VIVIENDA_LABELS_P03C', 'VIVIENDA_LABELS_P04', 'VIVIENDA_LABELS_P05', 'ZONALOC'])

In [12]:
chl["REGION"]

,REGION_REF_ID,CENSO_REF_ID,IDREGION,NREGION,REDCODEN
0,1,1,01,TARAPAC?,1
1,2,1,02,ANTOFAGASTA,2
2,3,1,03,ATACAMA,3
3,4,1,04,COQUIMBO,4
4,5,1,05,VALPARA?SO,5
5,6,1,06,LIBERTADOR GENERAL BERNARDO O'HIGGINS,6
6,7,1,07,MAULE,7
7,8,1,08,BIOB?O,8
8,9,1,09,LA ARAUCAN?A,9
9,10,1,10,LOS LAGOS,10
10,11,1,11,AYS?N DEL GENERAL CARLOS IB??EZ DEL CAMPO,11
11,12,1,12,MAGALLANES Y DE LA ANT?RTICA CHILENA,12
12,13,1,13,METROPOLITANA DE SANTIAGO,13
13,14,1,14,LOS R?OS,14
14,15,1,15,ARICA Y PARINACOTA,15
15,16,1,16,?UBLE,16