Galapagos (Ecuador) trimmed census data from 2015.

In [2]:
import redatam

glp = redatam.read_redatam("galapagos/cg15.dic")

glp.keys()

Opening dictionary file...
Exporting CG15...
Exporting PROVIN...
Exporting CANTON...
Exporting PARROQ...
Exporting ZONA...
Fixing encoding...
Tidying variables...

dict_keys(['CANTON', 'CANTON_LABELS_NOMCANT', 'PARROQ', 'PARROQ_LABELS_NOMPARR', 'PROVIN', 'PROVIN_LABELS_NOMPROV', 'ZONA'])

In [3]:
glp2 = redatam.read_redatam("galapagos/cg15.dicX")

glp2.keys()

Opening dictionary file...
Exporting CG15...
Exporting PROVIN...
Exporting CANTON...
Exporting PARROQ...
Exporting ZONA...
Fixing encoding...
Tidying variables...

dict_keys(['CANTON', 'CANTON_LABELS_NOMCANT', 'PARROQ', 'PARROQ_LABELS_NOMPARR', 'PROVIN', 'PROVIN_LABELS_NOMPROV', 'ZONA'])

In [5]:
glp["PROVIN"]

   PROVIN_REF_ID  CG15_REF_ID I01    NOMPROV
0              1            1  20  GALAPAGOS

In [6]:
glp2["PROVIN"]

   PROVIN_REF_ID  CG15_REF_ID I01    NOMPROV
0              1            1  20  GALAPAGOS

Uruguay census data from 2011.

In [ ]:
uru = redatam.read_redatam("uru2011/CPV2011_uruguay_publica.dic")

uru.keys()